.hero {
  display: flex;
  padding-bottom: 20px;

  &__content {
    position: relative;
    display: flex;
    flex: 0 0 100%;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 46px;
      bottom: 0;
      left: clamp(-18.438rem, -40.736rem + 33.95vw, 0rem);
      z-index: 2;
      width: 1015px;
      background-image: url(../images/hero-ellipse.png);
      background-size: cover;
      background-repeat: no-repeat;

      @media (max-width:1050px) {
        top: 0;
        left: clamp(-23.438rem, -41.587rem + 35.37vw, -18.375rem);
      }

      @media (max-width:820px) {
        left: clamp(-27.188rem, -41.633rem + 35.5vw, -23.438rem);
      }

      @media (max-width:650px) {
        left: clamp(-29.375rem, -35.601rem + 20.71vw, -27.188rem);
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__body {
    position: relative;
    z-index: 5;
    padding: 184px 20px 50px 0;
    width: 50%;

    @media (max-width:1050px) {
      padding-top: 140px;
    }

    @media (max-width:820px) {
      padding-top: 130px;
      padding-bottom: 30px;
      min-width: 380px;
    }

    @media (max-width:650px) {
      padding-bottom: 16px;
      min-width: 355px;
      width: 60%;
    }

    @media (max-width:480px) {
      padding-right: 0;
      max-width: 350px;
      min-width: 290px;
      width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 34px;
    max-width: 508px;
    font-family: "Stolzl-Book", "Stolzl", sans-serif;
    font-size: clamp(1.125rem, 1.021rem + 0.52vw, 1.5rem);
    font-weight: 400;
    line-height: 36px;
    color: #366126;

    @media (max-width:820px) {
      margin-bottom: 24px;
      line-height: 32px;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 554px;

    @media (max-width:1050px) {
      gap: 24px;
    }

    @media (max-width:480px) {
      gap: 16px;
    }
  }

  &__link-btn {
    width: 100%;
  }

  &__img-block {
    flex: 0 0 calc(((100vw - 30px) * 0.565) + 15px);
    transform: translateX(-100%);
    max-height: 850px;

    @media (max-width:480px) {
      flex: 0 0 100%;
    }

    @media (min-width:1920px) {
      flex: 0 0 1083px;
    }
  }

  &__img {
    height: 100%;
  }
}
