.how-why {
  padding-top: 134px;
  padding-bottom: 175px;
  overflow: hidden;

  @media (max-width:1050px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @media (max-width:820px) {
    padding-top: 30px;
  }

  @media (max-width:480px) {
    padding-top: 25px;
  }

  &__body {
    display: flex;
    padding-left: max(15px, calc((100% - 1340px) / 2 + 80px));

    @media (max-width:820px) {
      flex-direction: column-reverse;
      padding-right: 15px;
    }
  }

  &__content {
    padding-right: 3.8vw;
    min-width: 500px;
    width: 40.7%;

    @media (max-width:1050px) {
      padding-right: 20px;
      min-width: auto;
      width: 50%;
    }

    @media (max-width:820px) {
      padding-right: 0;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 39px;
    transform: translateY(12px);

    @media (max-width:1050px) {
      margin-bottom: 16px;
      transform: translateY(6px);
    }
  }

  &__text {
    margin-bottom: 24px;
    max-width: 556px;
    font-family: "Stolzl-Book", "Stolzl", sans-serif;
    font-size: clamp(0.875rem, 0.85rem + 0.13vw, 1rem);
    font-weight: 400;
    line-height: 28px;
    color: var(--gray-3);

    @media (max-width:1050px) {
      margin-bottom: 16px;
    }

    @media (max-width:820px) {
      max-width: 100%;
    }

    @media (max-width:480px) {
      line-height: 24px;
    }
  }

  &__img-block {
    display: flex;
    align-items: center;
    width: 59.4%;
    max-height: 500px;
    mix-blend-mode: darken;

    @media (max-width:1050px) {
      width: 50%;
    }

    @media (max-width:820px) {
      align-self: center;
      width: 85%;
    }

    @media (max-width:650px) {
      width: 90%;
    }

    @media (max-width:480px) {
      width: 95%;
    }
  }

  &__img {
    position: relative;
    top: 21px;
    min-height: 415px;

    @media (max-width:1050px) {
      top: 0;
      min-height: 360px;
    }

    @media (max-width:820px) {
      min-height: auto;
    }

    @media (max-width:650px) {
      min-height: 280px;
    }
  }
}
