<section class="about answers">
  <div class="container answers__container">
    <div class="bold-text answers__text">
      We serve those in need for the long-term meal assistance or anyone who might be in need of a short-term plan while
      recovering from an injury or illness, or who would simply enjoy healthy meals that requires minimum preparation
      time.
    </div>
    <h3 class="third-title page-third-title answers__title">
      Answer these few questions to find out if you qualify for Home Delivered Meals by Meals America:
    </h3>
    <ul class="list-reset about__list answers__list">
      <li class="about__item">
        <svg class="about__item-check-mark">
          <use xlink:href="./images/sprite.svg#check-mark"></use>
        </svg>
        Are you over 65?
      </li>
      <li class="about__item">
        <svg class="about__item-check-mark">
          <use xlink:href="./images/sprite.svg#check-mark"></use>
        </svg>
        Are you disabled or on a short-term disability?
      </li>
      <li class="about__item">
        <svg class="about__item-check-mark">
          <use xlink:href="./images/sprite.svg#check-mark"></use>
        </svg>
        Do you need any assistance with grocery shopping and/or preparing meals?
      </li>
    </ul>
    <div class="bold-text answers__text answers__bold-text">
      Can you say
      <span class="answers__primary-span">
        yes
      </span>
      to any of these questions? If so, you might qualify for government or health plan assistance and
      have our meal delivered to your door at no cost!
    </div>
    <div class="info answers__info">
      <div class="info__card answers__info-card">
        <svg class="info__card-icon info__card-icon--manager answers__info-card-icon">
          <use xlink:href="./images/sprite.svg#manager"></use>
        </svg>
        <div class="info__card-content answers__info-card-content">
          <h5 class="fifth-title answers__info-card-title">
            Information for Case Managers/Coordinators
          </h5>
          <p class="text info__card-text answers__info-card-text">
            If the participant qualifies for home meals delivery – submit authorization for Meals America. We deliver
            within 2-3 business days from the day you have submitted the authorization. Call us with any questions at
            <a class="contact-link answers__info-card-link" href="tel:+7866005909">
              (786) 600-59-09
            </a>
          </p>
        </div>
      </div>
      <div class="info__card answers__info-card">
        <svg class="info__card-icon info__card-icon--healthcare answers__info-card-icon">
          <use xlink:href="./images/sprite.svg#healthcare"></use>
        </svg>
        <div class="info__card-content answers__info-card-content">
          <h5 class="fifth-title answers__info-card-title">
            Information for Individuals/Caregivers
          </h5>
          <p class="text info__card-text answers__info-card-text">
            If you have a health insurance plan and you may qualify for home meal delivery, contact, your case
            manager.If you or your loved ones need home delivered meal but don’t qualify through your insurance, please,
            contact us at
            <a class="contact-link answers__info-card-link" href="tel:+7866005909">
              (786) 600-59-09
            </a>
            for the options available for private customers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
