<section class="choose">
  <div class="choose__wrapper">
    <span class="choose__title-span">
      Nutrition plans
    </span>
    <h2 class="second-title choose__title">
      Choose Your Nutrition
    </h2>
    <div class="container">
      <div class="choose__inner">
        <ul class="list-reset choose__top-list">
          <li class="choose__top-item">
            <svg class="choose__top-item-icon choose__top-item-icon--1">
              <use xlink:href="./images/sprite.svg#choose-icon-1"></use>
            </svg>
            Gourmet
          </li>
          <li class="choose__top-item">
            <svg class="choose__top-item-icon choose__top-item-icon--2">
              <use xlink:href="./images/sprite.svg#choose-icon-2"></use>
            </svg>
            Comfort
          </li>
          <li class="choose__top-item">
            <svg class="choose__top-item-icon choose__top-item-icon--3">
              <use xlink:href="./images/sprite.svg#choose-icon-3"></use>
            </svg>
            Deli
          </li>
          <li class="choose__top-item">
            <svg class="choose__top-item-icon choose__top-item-icon--4">
              <use xlink:href="./images/sprite.svg#choose-icon-4"></use>
            </svg>
            International
          </li>
          <li class="choose__top-item">
            <svg class="choose__top-item-icon choose__top-item-icon--5">
              <use xlink:href="./images/sprite.svg#choose-icon-5"></use>
            </svg>
            Family
          </li>
          <li class="choose__top-item">
            <svg class="choose__top-item-icon choose__top-item-icon--6">
              <use xlink:href="./images/sprite.svg#choose-icon-6"></use>
            </svg>
            Homestyle
          </li>
        </ul>
        <div class="choose__bottom">
          <div class="choose__img-block">
            <picture>
              <source srcset="./images/choose.webp" type="image/webp">
              <img class="choose__img" src="./images/choose.jpg" alt="Image" width="660" height="413" loading="lazy">
            </picture>
          </div>
          <div class="choose__content">
            <h3 class="third-title choose__content-title">
              Meals includes:
            </h3>
            <ul class="list-reset choose__content-list">
              <li class="choose__content-item">
                Loaf of Bread
              </li>
              <li class="choose__content-item">
                Sticks of Butter
              </li>
              <li class="choose__content-item">
                Quart of Juice
              </li>
              <li class="choose__content-item">
                Half Callon of 2% Milk
              </li>
              <li class="choose__content-item">
                Box of Cereal or Oat Meal
              </li>
              <li class="choose__content-item">
                Package of Cheese Sticks or Cheese Slices
              </li>
              <li class="choose__content-item">
                Pack of Fruits Cups
              </li>
              <li class="choose__content-item">
                Complimentary Dessert
              </li>
            </ul>
            <div class="choose__btns">
              <a class="link link-btn choose__link-btn" href="./MEALS_AMERICA_меню.pdf" download
                target="_blank">
                Download Menu
              </a>
              <button class="btn-reset btn" type="button" data-modal="modal-start">
                Get Started
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <picture>
      <source srcset="./images/choose-deco.webp" type="image/webp">
      <img class="choose__deco" src="./images/choose-deco.png" alt="Decor" width="443" height="649" loading="lazy">
    </picture>
  </div>
</section>
