<section class="about eligibility">
  <div class="container">
    <div class="eligibility__content">
      <h3 class="third-title page-third-title eligibility__title">
        Eligibility
      </h3>
      <div class="bold-text eligibility__bold-text">
        Find out if you are eligible to have Meals America deliver meals to you each week at NO COST for you!
      </div>
      <ul class="list-reset about__list eligibility__list">
        <li class="about__item eligibility__item">
          <svg class="about__item-check-mark">
            <use xlink:href="./images/sprite.svg#check-mark"></use>
          </svg>
          Are you on short-term disability?
        </li>
        <li class="about__item eligibility__item">
          <svg class="about__item-check-mark">
            <use xlink:href="./images/sprite.svg#check-mark"></use>
          </svg>
          Are you disabled?
        </li>
        <li class="about__item eligibility__item">
          <svg class="about__item-check-mark">
            <use xlink:href="./images/sprite.svg#check-mark"></use>
          </svg>
          Are you over 65?
        </li>
        <li class="about__item eligibility__item">
          <svg class="about__item-check-mark">
            <use xlink:href="./images/sprite.svg#check-mark"></use>
          </svg>
          Do you have Medicare/Medicaid or ANY other health insurance that offer paid meal option?
        </li>
      </ul>
      <div class="bg-text eligibility__text">
        <p class="eligibility__paragraph">
          If you answered “Yes” to any of these questions, you may qualify for Meals America weekly meal delivery plan
          at NO
          COST for you!
        </p>
        <p class="eligibility__paragraph">
          If you have any questions call about your eligibility us
          <a class="contact-link eligibility__link" href="tel:+7866005909">
            (786) 600-59-09
          </a>
          , use our LIVE chat box, or fill out the
          form below and someone will reach back to you over e-mail within 2 business days.
        </p>
      </div>
    </div>
  </div>
</section>
