<footer class="footer">
  <div class="footer__top">
    <div class="container footer__top-container">
      <div class="footer__top-info">
        <a class="logo-link footer__top-logo-link" href="./index.html">
          <img class="logo" src="./images/svg/logo.svg" alt="Logo" width="265" height="68">
        </a>
        <p class="footer__top-text">
          All rights resereved
          <a href="./index.html" class="footer__top-text-link">
            MealsAmericaFL.com
          </a>
          is based in the Florida area and provides home-delivered meals to
          consumers across ALL sixty seven counties in Florida.
        </p>
      </div>
      <div class="footer__top-contacts">
        <h4 class="fourth-title">
          Contact info
        </h4>
        <ul class="list-reset footer__top-list">
          <li class="footer__top-item">
            <p class="footer__top-link">
              <svg class="footer__top-link-svg footer__top-link-map">
                <use xlink:href="./images/sprite.svg#map-pin"></use>
              </svg>
              1733 Benbow Ct, Ste 3, Apopka, FL, 32703
            </p>
          </li>
          <li class="footer__top-item">
            <a href="tel:+7866005909" class="footer__top-link contact-link">
              <svg class="footer__top-link-svg footer__top-link-phone">
                <use xlink:href="./images/sprite.svg#phone"></use>
              </svg>
              (786) 600-59-09
            </a>
          </li>
          <li class="footer__top-item">
            <a href="mailto:Support@MealsAmericaFL.com" class="footer__top-link contact-link">
              <svg class="footer__top-link-svg footer__top-link-envelope">
                <use xlink:href="./images/sprite.svg#envelope"></use>
              </svg>
              Support@MealsAmericaFL.com
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__top-links">
        <h4 class="fourth-title">
          Links
        </h4>
        <nav class="nav footer__top-nav">
          <ul class="list-reset nav__list footer__top-nav-list">
            <li class="nav__item footer__top-nav-item">
              <a href="./about.html" class="nav__link footer__top-nav-link">
                About Us
              </a>
            </li>
            <li class="nav__item footer__top-nav-item">
              <a href="./how.html" class="nav__link footer__top-nav-link">
                How it works
              </a>
            </li>
            <li class="nav__item footer__top-nav-item">
              <a href="./menu.html" class="nav__link footer__top-nav-link">
                Our menu
              </a>
            </li>
            <li class="nav__item footer__top-nav-item">
              <a href="./contact.html" class="nav__link footer__top-nav-link">
                Contact Us
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <div class="container footer__copy-container">
      <span class="text footer__copy-text">
        © All rights resereved
        <a href="./index.html" class="footer__copy-text-link">
          MealsAmericaFL.com
        </a>
      </span>
    </div>
  </div>
  <picture>
    <source srcset="./images/footer-deco.webp" type="image/webp">
    <img class="footer__deco" src="./images/footer-deco.png" alt="Decor" width="235" height="304" loading="lazy">
  </picture>
</footer>
