<section class="hero">
  <div class="hero__content">
    <div class="container hero__container">
      <div class="hero__body">
        <h1 class="first-title">
          <span class="first-title-primary">
            Free Meals delivered
          </span>
          to your doorstep!
        </h1>
        <p class="hero__subtitle">
          We provide healthy, balanced meals delivered to your doorstep!
        </p>
        <div class="hero__btns">
          <a class="link link-btn hero__link-btn" href="./how.html">
            How It Works
          </a>
          <button class="btn-reset btn" type="button" data-modal="modal-start">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__img-block">
    <picture>
      <source srcset="./images/hero.webp" type="image/webp">
      <img class="hero__img" src="./images/hero.png" alt="Image" width="1083" height="850">
    </picture>
  </div>
</section>
