<section class="how-why">
  <div class="how-why__body">
    <div class="how-why__content">
      <span class="title-span">
        Who We Serve?
      </span>
      <h2 class="second-title how-why__title">
        Why us?
      </h2>
      <div class="how-why__text">
        <p class="how-why__paragraph">
          Meals America is determined to provide good meals for those in need and attempt to address the needs of the
          participants at home on long-term care, post-discharge and those with chronic conditions. We try to help all
          participants to remain independent and provide the best meal plans and a large menu with many options to
          choose
          from to fit any dietary need. We have variety of options from vegetarian to kosher, low-sodium, gluten-free,
          and
          many more. Our meals help those with health issues or injuries to make meal preparation easy and safe. We
          deliver straight to their doorstep each week. The meals get warmed up in the microwave and are ready to be
          served and enjoyed in minutes!
        </p>
        <p class="how-why__paragraph">
          Please, note that all referrals submitted by case managers and coordinators by 5:00 PM EST by Friday will be
          delivered the following week. Participant’s first delivery with include items from the first week of our
          standard menu unless we have special request submitted along with the authorization.
        </p>
      </div>
    </div>
    <div class="how-why__img-block">
      <picture>
        <source srcset="./images/how-why.webp" type="image/webp">
        <img class="how-why__img" src="./images/how-why.png" alt="Image" width="920" height="500">
      </picture>
    </div>
  </div>
</section>
