<div class="info">
  <div class="container info__container">
    <div class="info__card">
      <svg class="info__card-icon info__card-icon--flag">
        <use xlink:href="./images/sprite.svg#flag"></use>
      </svg>
      <div class="info__card-content">
        <h5 class="fifth-title">
          AAA &amp;&nbsp;State Governments
        </h5>
        <p class="text info__card-text">
          Information for leaders in government or at Area Agencies on Aging.
        </p>
      </div>
    </div>
    <div class="info__card">
      <svg class="info__card-icon info__card-icon--manager">
        <use xlink:href="./images/sprite.svg#manager"></use>
      </svg>
      <div class="info__card-content">
        <h5 class="fifth-title">
          Case Managers
        </h5>
        <p class="text info__card-text">
          Information for case managers who are looking for solutions for their clients or members.
        </p>
      </div>
    </div>
    <div class="info__card">
      <svg class="info__card-icon info__card-icon--healthcare">
        <use xlink:href="./images/sprite.svg#healthcare"></use>
      </svg>
      <div class="info__card-content">
        <h5 class="fifth-title">
          Individuals &amp;&nbsp;Caregivers
        </h5>
        <p class="text info__card-text">
          For self-pay customers managing a chronic disease, living independently, or caring.
        </p>
      </div>
    </div>
  </div>
</div>
