<section class="instructions">
  <div class="instructions__img-block">
    <picture class="instructions__picture">
      <source srcset="./images/menu-1.webp" type="image/webp">
      <img class="instructions__img" src="./images/menu-1.jpg" alt="Menu" width="1420" height="1847">
    </picture>
    <picture class="instructions__picture">
      <source srcset="./images/menu-2.webp" type="image/webp">
      <img class="instructions__img" src="./images/menu-2.jpg" alt="Menu" width="1420" height="1856">
    </picture>
  </div>
  <div class="container instructions__container">
    <h3 class="third-title page-third-title instructions__title">
      HEATING INSTRUCTIONS:
    </h3>
    <div class="bold-text instructions__text">
      Food must be cooked thoroughly to 165°F. Appliances vary, adjust cooking times as needed.
    </div>
    <div class="instructions__card-block">
      <div class="instructions__card">
        <svg class="instructions__card-icon instructions__card-icon--1">
          <use xlink:href="./images/sprite.svg#why-icon-2"></use>
        </svg>
        <div class="instructions__card-content">
          <h5 class="fifth-title">
            Microwave Oven
          </h5>
          <p class="text instructions__card-text">
            Directions developed with 1000-watt microwave ovens.Heat for 4 minutes on full power. Stir and heat an
            additional 1-2 minutes.Let stand for about 1 minute
          </p>
        </div>
      </div>
      <div class="instructions__card">
        <svg class="instructions__card-icon instructions__card-icon--2">
          <use xlink:href="./images/sprite.svg#why-icon-4"></use>
        </svg>
        <div class="instructions__card-content">
          <h5 class="fifth-title">
            Conventional Oven
          </h5>
          <p class="text instructions__card-text">
            Preheat Oven to 350°FCook on baking sheet in center of oven 35-40 minutes.Let stand for about 1 minute.
          </p>
        </div>
      </div>
    </div>
    <div class="bold-text instructions__text instructions__bottom-text">
      Occasionally, any meal delivered may be substituted without notice based on product availability.
    </div>
  </div>
</section>
