<div class="modal" id="modal-start">
  <div class="modal__bg">
    <div class="modal__body">
      <div class="modal__top">
        <h2 class="second-title modal__title">
          Get Started
        </h2>
        <button class="btn-reset modal__close-btn" type="button">
          <svg class="modal__close-svg">
            <use xlink:href="./images/sprite.svg#cross"></use>
          </svg>
        </button>
      </div>
      <form class="form modal__form">
        <div class="modal__form-block">
          <label class="form__label modal__form-label">
            <span class="form__span form__asterisk">
              Name
            </span>
            <input class="form__input modal__form-input" type="text">
          </label>
          <label class="form__label modal__form-label">
            <span class="form__span">
              E-mail Address
            </span>
            <input class="form__input modal__form-input" type="email">
          </label>
          <label class="form__label modal__form-label">
            <span class="form__span form__asterisk">
              Country
            </span>
            <input class="form__input modal__form-input" type="text">
          </label>
          <label class="form__label modal__form-label">
            <span class="form__span form__asterisk">
              Phone Number
            </span>
            <input class="form__input modal__form-input" type="tel">
          </label>
        </div>
        <div class="modal__form-block">
          <label class="form__label modal__form-label">
            <span class="form__span">
              Organization
            </span>
            <input class="form__input modal__form-input" type="text">
          </label>
          <label class="form__label modal__form-label">
            <span class="form__span form__asterisk">
              City
            </span>
            <input class="form__input modal__form-input" type="text">
          </label>
          <label class="form__label modal__form-label">
            <span class="form__span form__asterisk">
              Zip Code
            </span>
            <input class="form__input modal__form-input" type="text">
          </label>
          <label class="form__label modal__form-label">
            <span class="form__span form__asterisk">
              State
            </span>
            <input class="form__input modal__form-input" type="text">
          </label>
        </div>
        <div class="modal__form-bottom">
          <span class="form__span form__asterisk">
            Tell us about your needs
          </span>
          <div class="select" id="modal-select">
            <button class="btn-reset select__input form__input modal__form-input" type="button">
              <span class="select__current form__span">
                —Please choose an option—
              </span>
              <svg class="select__arrow">
                <use xlink:href="./images/sprite.svg#arrow-down"></use>
              </svg>
            </button>
            <div class="select__dropdown">
              <ul class="list-reset select__list">
                <li class="select__item" tabindex="0">
                  I'm a current customer needing assistance
                </li>
                <li class="select__item" tabindex="0">
                  I'm a caregiver or need meals for myself
                </li>
                <li class="select__item" tabindex="0">
                  I'm a case manager needing meals for clients
                </li>
                <li class="select__item" tabindex="0">
                  I represent a healthcare organization needing information for patients
                </li>
              </ul>
            </div>
          </div>
          <label class="form__label modal__form-label">
            <span class="form__span">
              Provide any additional comments
            </span>
            <textarea class="form__input form__input form__textarea modal__form-textarea"></textarea>
          </label>
          <button class="btn-reset btn form__btn modal__form-btn btn-js" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
