<section class="serve">
  <div class="serve__body">
    <div class="serve__content">
      <h3 class="third-title page-third-title serve__title">
        Who We Serve
      </h3>
      <div class="bold-text serve__bold-text">
        We serve those in need for the long-term meal assistance or anyone who might be in need of a short-term plan
        while
        recovering from an injury or illness, or who would simply enjoy healthy meals that requires minimum preparation
        time.
      </div>
      <div class="bg-text serve__text">
        <p class="serve__paragraph">
          Meals America is proud to serve and deliver healthy, nutritious meals to your door.
          All our meals comply with Floridian state requirements. Your first delivery will be at your door within 2-3
          business days from the day we receive the authorization.
        </p>
        <p class="serve__paragraph">
          Please, let us know your preferences, and we will be
          happy to modify the menu or customize it to your preference! Please, consider our delicious meals a complete
          nutrition solution. We are delighted to serve you and your satisfaction is our priority!
        </p>
      </div>
    </div>
    <div class="serve__img-block">
      <picture>
        <source srcset="./images/serve.webp" type="image/webp">
        <img class="serve__img" src="./images/serve.png" alt="Image" width="494" height="599">
      </picture>
    </div>
  </div>
</section>
