<section class="waiver">
  <div class="container waiver__container">
    <h3 class="third-title page-third-title waiver__title">
      Aging Waiver
    </h3>
    <div class="bold-text waiver__bold-text">
      We serve those in need for long-term meal assistance or anyone who might be in need of a short-term plan while
      recovering from an injury or illness, or who would simply enjoy healthy meals that require minimal preparation
      time.
    </div>
    <div class="bg-text waiver__text">
      <p class="waiver__paragraph">
        Aging Home and Community-Based Waiver Services may be available to any Florida over 65 to enable them to live in
        their homes and communities with additional support and services.
      </p>
      <p class="waiver__paragraph">
        Meals America is happy to provide extra information about the waiver and who’s eligible. If you have any
        questions reach our customer care representative at
        <a class="contact-link waiver__link" href="tel:+7866005909">
          (786) 600-59-09
        </a>
        , use our LIVE chat box, or fill out the form
        below and someone will reach back to you over e-mail within 2 business days. We will happily assist you with any
        questions you have.
      </p>
    </div>
    <h5 class="fifth-title waiver__requirements-list-title">
      Aging Waiver eligibility requirements:
    </h5>
    <ul class="list-reset waiver__list waiver__requirements-list">
      <li class="waiver__item">
        Be a resident of Florida
      </li>
      <li class="waiver__item">
        Be a U.S. citizen or a qualified non-citizen
      </li>
      <li class="waiver__item">
        Have a Social Security Number
      </li>
      <li class="waiver__item">
        Be 65 years of age or older
      </li>
      <li class="waiver__item">
        Meet the level of care needs for a Skilled Nursing Facility
      </li>
      <li class="waiver__item">
        Meet the financial requirements by the local county assistance office
      </li>
    </ul>
    <h5 class="fifth-title waiver__services-list-title">
      Services that Aging Waiver may be available to include:
    </h5>
    <div class="waiver__services-list-wrapper">
      <ul class="list-reset waiver__list waiver__services-list">
        <li class="waiver__item">
          Accessibility Adaptations, Equipment, Technology and Medical
        </li>
        <li class="waiver__item">
          Supplies
        </li>
        <li class="waiver__item">
          Adult Daily Living Services
        </li>
        <li class="waiver__item">
          Assistive Technology
        </li>
        <li class="waiver__item">
          Community Transition Services
        </li>
        <li class="waiver__item">
          Home Adaptations
        </li>
        <li class="waiver__item">
          Home Delivered Meals
        </li>
        <li class="waiver__item">
          Home Health Services
        </li>
        <li class="waiver__item">
          Non-Medical Transportation Services
        </li>
        <li class="waiver__item">
          Nutritional Consultation Services
        </li>
        <li class="waiver__item">
          Nursing Services
        </li>
      </ul>
      <ul class="list-reset waiver__list waiver__services-list">
        <li class="waiver__item">
          Participant-Directed Community Supports
        </li>
        <li class="waiver__item">
          Participant-Directed Goods and Services
        </li>
        <li class="waiver__item">
          Personal Assistance Services
        </li>
        <li class="waiver__item">
          Personal Emergency Response System (PERS)
        </li>
        <li class="waiver__item">
          Physical Therapy Services
        </li>
        <li class="waiver__item">
          Respite
        </li>
        <li class="waiver__item">
          Service Coordination
        </li>
        <li class="waiver__item">
          Specialized Medical Equipment and Supplies
        </li>
        <li class="waiver__item">
          Speech and Language Therapy Services
        </li>
        <li class="waiver__item">
          TeleCare
        </li>
        <li class="waiver__item">
          Therapeutic and Counseling Services
        </li>
      </ul>
    </div>
    <div class="bg-text waiver__bottom-text">
      If you have any questions, contact our Professional and qualified team of health care experts at
      <a class="contact-link waiver__link" href="tel:+7866005909">
        (786) 600-59-09
      </a>
      to help you determine if you qualify for the FL Aging Waiver.
    </div>
  </div>
</section>
