<section class="about welcome">
  <div class="welcome__body">
    <div class="welcome__content">
      <picture>
        <source srcset="./images/about-deco.webp" type="image/webp">
        <img class="welcome__deco-1" src="./images/about-deco.png" alt="Decor" width="200" height="234">
      </picture>
      <h2 class="second-title about__title welcome__title">
        Welcome to Meals America!
      </h2>
      <div class="about__text welcome__text">
        <p class="about__paragraph">
          Meals America is a local business located in Orange County, FL. We deliver nutritious and healthy meals to
          eligible seniors every week in all 67 counties in Florida. We proudly serve anyone on long-term care
          (assisting elderly to age at home), chronic care, injury, short-term disability, post-discharge care. We
          provide meals to eligible with Medicare/Medicaid, and other managed care organizations in FL.
        </p>
        <p class="about__paragraph">
          Our meals are for anyone who is unable to cook and prepare meals for themselves, or simply individuals and
          caregivers who would love to enjoy a fresh and easy meal. Our priority is our customer’s health. We care
          about each preference and dietary needs; therefore, we provide a variety of meal options and have options
          for low-sodium, gluten-free, Kosher, and vegetarian meals, allowing each customer to customize their meal
          plan to their preference. Meals America delivers ready-to-go meals that require NO preparation and only need
          to be heated so that our customers can enjoy healthy meals in minutes that taste like homemade meal they’d
          cook for themselves!
        </p>
      </div>
    </div>
    <div class="welcome__img-block">
      <picture>
        <source srcset="./images/welcome.webp" type="image/webp">
        <img class="welcome__img" src="./images/welcome.png" alt="Image" width="400" height="596">
      </picture>
    </div>
  </div>
  <picture>
    <source srcset="./images/welcome-deco.webp" type="image/webp">
    <img class="welcome__deco-2" src="./images/welcome-deco.png" alt="Decor" width="248" height="215">
  </picture>
</section>
