<section class="who">
  <div class="who__body">
    <div class="who__content">
      <span class="title-span">
        Who We Serve?
      </span>
      <h2 class="second-title who__title">
        Who We Serve?
      </h2>
      <div class="text who__text">
        We serve those in need for long-term meal assistance or anyone who might be in need of a short-term plan while
        recovering from an injury or illness, or who would simply enjoy healthy meals that require minimal preparation
        time.
      </div>
      <div class="who__info">
        <div class="who__info-item">
          <svg class="who__info-item-icon">
            <use xlink:href="./images/sprite.svg#time"></use>
          </svg>
          Monday - Friday<br>9:00 AM - 5:00 PM
        </div>
        <a class="who__info-item contact-link" href="tel:+7866005909">
          <svg class="who__info-item-icon">
            <use xlink:href="./images/sprite.svg#phone-outgoing"></use>
          </svg>
          (786) 600-59-09
        </a>
      </div>
      <a class="link more-link-btn who__link-btn" href="./how.html">
        Read more
      </a>
    </div>
    <div class="who__img-block">
      <picture>
        <source srcset="./images/who.webp" type="image/webp">
        <img class="who__img" src="./images/who.png" alt="Image" width="960" height="500" loading="lazy">
      </picture>
    </div>
  </div>
</section>
