<section class="why">
  <div class="container why__container">
    <div class="why__img-block">
      <picture class="why__picture">
        <source srcset="./images/why.webp" type="image/webp">
        <img class="why__img" src="./images/why.png" alt="Image" width="698" height="654" loading="lazy">
      </picture>
    </div>
    <div class="why__content">
      <span class="title-span">
        Our benefits
      </span>
      <h2 class="second-title why__title">
        Why choose us?
      </h2>
      <div class="text why__text">
        We are proud to provide a healthy and nutritious meal for those in need! We listen to your preferences and
        customize the weekly menu considering your requests! Your health is our priority!
      </div>
      <ul class="list-reset why__list">
        <li class="why__item">
          <svg class="why__item-icon why__item-icon--1">
            <use xlink:href="./images/sprite.svg#why-icon-1"></use>
          </svg>
          Delicious &amp;&nbsp;Healthy
        </li>
        <li class="why__item">
          <svg class="why__item-icon why__item-icon--2">
            <use xlink:href="./images/sprite.svg#why-icon-2"></use>
          </svg>
          Ready to heat
        </li>
        <li class="why__item">
          <svg class="why__item-icon why__item-icon--3">
            <use xlink:href="./images/sprite.svg#why-icon-3"></use>
          </svg>
          Delivery
        </li>
        <li class="why__item">
          <svg class="why__item-icon why__item-icon--4">
            <use xlink:href="./images/sprite.svg#why-icon-4"></use>
          </svg>
          Taste and preferences
        </li>
      </ul>
    </div>
  </div>
</section>
